.req_header_info {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;

    margin-bottom: clamp(15px, 2vw, 30px);

}

.breadcrumbs-view {
    display: flex;
    column-gap: clamp(6px, 2vw, 10px);
}
.breadcrumbs_item {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}


.req_pager {
    display: flex;
    align-items: center;
    gap: 20px;
}
.record_pager {
    // border: 1px solid #acacac;
    // border-radius: 4px;
    overflow: hidden;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.3s ease;
}
// .record_pager .line {
//     width: 1px;
//     align-self: stretch;
//     background: #acacac;
// }
.record_pager a {
    border: 1px solid #acacac;
    display: block;
    padding: clamp(2px, 1vw, 8px) clamp(16px, 1vw, 20px);
    border-radius: 4px;
}
.record_pager a:not(.disabled):hover {
    background: #e7e7e7;
}
.record_pager a.disabled {
    opacity: 0.1 !important;
    cursor: default;
}

.collapsing_block_header {
    cursor: pointer;
}



.wrapper {
    position: relative;
    display: flex;
    column-gap: clamp(20px, 2vw, 30px);
    row-gap: clamp(15px, 2vw, 20px);
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    max-width: 100;
    // overflow: hidden;

}
// .wrapper::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: #fff;
//     opacity: 1;
//     transition: 0.3s ease-in-out;
// }

.wrapper.req_loaded {
    opacity: 1 !important;
}

.req_left_side {
    max-width: 66%;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 2;
}
.req_block {
    width: 100%;

    box-shadow: 0px 0px 15px 0px #00000026;
    background: #fff;
    border-radius: 4px;

}
.req_block-padding {
    padding: clamp(10px, 2vw, 20px);
}
.req_block_header {
    /* background: #434C51; */
    box-shadow: 0px 0px 15px 0px #00000026;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.req_status {
    /* position: absolute;
    content: ''; */
    width: clamp(12px, 2vw, 15px);
    height: clamp(12px, 2vw, 15px);
    background: green;
    border-radius: 50%;
    margin-right: clamp(3px, 2vw, 5px);
}

.req_name {
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 600;
    margin-right: 8px;
    display: flex;
    column-gap: 4px;
}

.req_priority {
    display: flex;
    flex-wrap: nowrap;
    // margin-right: 14px;
}
.req_priority img {
    width: clamp(15px, 2vw, 20px);
}
.req_stage {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.req_button {
    margin-right: clamp(18px, 2vw, 24px);
}
.req_button img {
    width: clamp(20px, 2vw, 24px);
}

.req_link,
.req_date {
    margin-left: auto;
    font-size: clamp(12px, 2vw, 16px);
    // color: #fff;
}
.req_link img {
    width: clamp(20px, 2vw, 24px);
}



.req_classification_items {
    display: flex;
    justify-content: space-evenly;
    column-gap: clamp(24px, 2vw, 30px);

    padding-bottom: clamp(12px, 2vw, 18px);

    border-bottom: 1px dashed #C5CAD1;
}
.req_classification_item {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    column-gap: clamp(8px, 2vw, 10px);

    max-width: 200px;
}
.req_classification_item .title {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 400;
    text-align: left;
    margin-bottom: 5px;
}
.req_classification_item .desc {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    text-align: left;
    color: #738189;
}
.req_classification_item img {
    width: 20px;
    height: 20px;
}


.req_routes_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: clamp(24px, 2vw, 30px);

    padding-bottom: 8px;
    border-bottom: 1px dashed #C5CAD1;
}
.req_routes_list {
    // display: flex;
    // flex-direction: column;
    row-gap: 5px;
    justify-content: stretch;

}
.req_route {
    cursor: pointer;
    border: 1px solid #C5CAD1;
    font-size: 14px;
    // padding: 1px 40px;
    display: inline-flex;
    margin-right: 5px;
}


.req_data {
    overflow: hidden;
    max-width: 100%;
    padding-top: 12px;
}
.req_content {
    padding-top: clamp(16px, 2vw, 18px);
    margin-bottom: clamp(16px, 2vw, 18px);
}
.req_content_title {
    display: flex;
    align-items: center;
    column-gap: 40px;
    justify-content: space-between;
    
    margin-bottom: clamp(12px, 2vw, 15px);
}
.req_content_title .form_inputs_item {
    width: 100%;
}
.req_content_title .edit {
    width: fit-content;
    height: 24px;
}
.req_title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.req_text {
    overflow-wrap: break-word;
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    text-align: left;
    color: #738189;
    position: relative;
}

.req_text img {
    max-width: 100%;
}
.edit_req_buttons {
    display: flex;
    margin-top: 10px;
    column-gap: 10px;
    row-gap: 5px;
}
.edit_req_buttons > button {
    width: 100%;
    border: none;
    padding: 6px;
}



.req_additionals {
    display: inline-flex;
    flex-wrap: wrap; 
    column-gap: 15px;
    row-gap: 10px;
}

.information_attachments {
    display: inline-flex;
    flex-wrap: wrap; 
    column-gap: 15px;
    row-gap: 10px;
    margin-top: 20px;
    max-width: 100%;
    overflow: hidden;
}

.req_additional_item {
    width: fit-content;
    padding: clamp(4px, 2vw, 8px) clamp(5px, 2vw, 10px);
    display: flex;
    align-items: center;
    column-gap: 7px;
    border-radius: 4px;
    max-width: 400px;
    overflow-wrap: hidden;
}
.req_additional_item span {
    // max-width: 100%;
    max-width: calc(100% - 30px);

    overflow-wrap: break-word;
}
.req_additional_item img {
    width: 24px;
    height: 24px;
}
.doc {
    background: #E7F0FF;
}
.xls {
    background: #DCF3E2;
}






.request_subblocks_list {
    margin-left: clamp(16px, 4vw, 42px);
    padding-left: clamp(20px, 4vw, 69px);
    padding-top: clamp(18px, 2vw, 27px);
    border-left: 1px dashed #C5CAD1;

    display: flex;
    flex-direction: column;
    row-gap: clamp(18px, 2vw, 27px);

    position: relative;
}
.request_subblocks_list::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 50%;
    bottom: 0;
    left: -1px;
    /* background: #000; */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(255,255,255,0.8), rgba(255,255,255,1));

}

.additional_req_block {
    display: flex;
    flex-direction: column;
    row-gap: clamp(8px, 2vw, 10px);
}
.request_subblocks_title {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 500;
    text-align: left;
    position: relative;
    
}
// .request_subblocks_title::before {
//     position: absolute;
//     content: '';
//     width: clamp(24px, 4vw, 60px);
//     border-top: 1px dashed #C5CAD1;
//     top: 50%;
//     left: clamp(-69px, -4vw, -20px);
// }



.req_clickable {
    cursor: pointer;
    transition: 0.3s ease;
}
.req_clickable:hover,
.req_clickable:active,
.req_clickable:focus {
    transform: scale(1.01); 
}




.req_right_side {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    row-gap: clamp(20px, 2vw, 32px);
    max-width: 100%;
    // overflow: hidden;
}

.information_table {
    display: flex;
    flex-direction: column;
    row-gap: clamp(10px, 2vw, 14px);
}

.req_data_maintenance_icon {
    width: 20px;
    height: 20px;
}
.req_data_maintenance_icon img,
.req_data_maintenance_icon svg {
    width: 100%;
}
.information_table_row {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
    color: #738189;
    line-height: 30px;
}

.information_table_row > div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 5px;
    line-height: 100%;
    text-align: right;
    font-size: clamp(12px, 2vw, 16px);
}

.user_photo {
    width: clamp(20px, 2vw, 30px);
    height: clamp(20px, 2vw, 30px);
    border-radius: 50%;
}


@media (max-width: 992px) {
    .wrapper {
        flex-direction: column;
    }
    .req_left_side {
        max-width: 100%;
    }
}




@media (max-width: 420px) {
    main .container {
        padding-left: 8px;
        padding-right: 8px;
    }
}






.arrow_for_scroll {
    display: none;
    position: absolute;
    top: 40%;
    padding: 10px 3px;
    border: 1px solid #738189;
    cursor: pointer;
    background: #fff;
}
.left {
    left: 0;
    border-radius: 0 4px 4px 0;
    border-left: none;
}
.left img {
    transform: rotateZ(180deg) !important;
}
.right {
    right: 0;
    border-radius: 4px 0 0 4px;
    border-right: none;
}
// .req_header_info {
//     width: 100%;
//     display: none;
//     // display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 25px;
// }
.link_to_list {
    position: relative;
    display: block;
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid #738189;
    border-top: none;
    border-radius: 0 0 4px 4px;
    line-height: 100%;
    transition: 0.3s ease;
}
.link_to_list:hover {
    background: #e7e7e7;
}

.link_to_list::after,
.link_to_list::before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.7231267507002801) 41%, rgba(255,255,255,1) 100%);
}
.link_to_list::before {
    left: -1px;
}
.link_to_list::after {
    right: -1px;
}
.link_to_list img {
    transform: rotateZ(-90deg) !important;
}
.req_mobile_pager_info {
    display: none;
    margin-top: 30px;
    text-align: center;
}


@media (max-width: 700px) {
    .desktop.req_header_info {
        justify-content: center;
    }
    .req_pager {
        display: none;
    }
    .link_to_list {
        padding-block: 2px;
    }
    .wrapper {
        padding-inline: 13px;
    }
    .mobile.arrow_for_scroll {
        display: block;
    }
    .mobile.req_mobile_pager_info {
        display: block;
    }
    #crnd_vsd_anchor_owl {
        padding-top: 5px !important;
    }
}