.odoo-editor-editable .btn.o_yodoo_knowledge_behavior_type_knowledge_item,
.odoo-editor-editable .btn.o_yodoo_knowledge_behavior_type_knowledge_item {
    border-color: $o-gray-200 !important;
    color: blue !important;
    cursor: pointer !important;
    text-decoration: dashed !important;
}
