.wsd_tag_color_0 {
  background-color: #EFEFEF;
  color: #777777;
}

.wsd_tag_color_1 {
  background-color: #f06050;
}

.wsd_tag_color_2 {
  background-color: #f4a460;
}

.wsd_tag_color_3 {
  background-color: #f7cd1f;
}

.wsd_tag_color_4 {
  background-color: #6cc1ed;
}

.wsd_tag_color_5 {
  background-color: #814968;
}

.wsd_tag_color_6 {
  background-color: #eb7e7f;
}

.wsd_tag_color_7 {
  background-color: #2c8397;
}

.wsd_tag_color_8 {
  background-color: #475577;
}

.wsd_tag_color_9 {
  background-color: #d6145f;
}

.wsd_tag_color_10 {
  background-color: #30c381;
}

.wsd_tag_color_11 {
  background-color: #9365b8;
}
.request-data-tag-category {
    .control-label {
        text-decoration: underline;
        font-weight: normal !important;
    }
    .form-check-label {
        font-weight: normal;
        font-size: 0.800rem;
    }
}
