.plashka_filter_list_wrapper {
    padding-inline: clamp(12px, 2vw, 26px) clamp(14px, 2vw, 32px);;
    margin-bottom: 10px;
}
.plashka {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.plashka_title {
    display: inline-flex;
    font-size: 20px;
    text-transform: capitalize;

    justify-content: space-between;
}

.plashka_filter_list {
    
}

.plashka_filter_title {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;

    font-size: 14px;
    margin-right: 5px;
    margin-left: 20px;
    /* margin-bottom: 5px; */
}
.plashka_filter_title:first-of-type {
    margin-left: 0;
}
.plashka_filter_title img {
    width: 18px;
    height: 18px;
}
.plashka_filter_value {
    cursor: pointer;
    color: #898989;
    display: inline-flex;
    align-items: center;
    
    padding: 2px 1px 2px 5px;
    border-radius: 5px;
    /* background: #D9D9D9; */
    border: 1px solid #C5CAD1;
    font-size: 14px;
    margin-right: 3px;
    margin-bottom: 5px;
    gap: 10px;
    padding-right: 5px;
}
.filters_clear {
    display: inline;
    cursor: pointer;
}

.filter_mobile_plashka .plashka_filter_list_wrapper {
    display: none;
}


.plashka_filter_button {
    display: none;
    cursor: pointer;
}