.o_field_request_fields {
    width: 100%;

    .request_field_label {
        margin: 2px;
        font-weight: bold;
    }

    input {
        &.request_field_value {
            margin: 0 2px;
        }
    }
}
